/* llamar a la eetiqueta directo*/
h1{color:green; font-size: 50px;}

/* llamar a una clase */
.titular{color:grey;}

/* llamar a un id */
#titular3{color:aqua; font-size: 50px; background-color: brown;}

.rojo{color:red}
.borde{border: 1px yellow solid;}

#relativa{position: relative; bottom: 10px; right: 10px}
#whatsapp{position: fixed; bottom: 40px; right: 10px ; width: 5%;}
#padding-interno{padding: 50px; margin: 10px;}

/* Clase 5 */
*{
    font-style: italic;
    font-weight:900;
    font-variant: small-caps;
    font-family: 'Qwitcher Grypen', cursive;

}

#caja1{
    border:1px solid red;
    margin-top: 50px;
    padding-top: 100px;

}

#caja2{
    margin: 10px 20px 30px 40px;
    /* top rigth bottom left */
    border: solid red;
    border-width: 1px 10px 30px 50px;
    /*debbugear*/
}
#imagen-responsive{
    width: 25%;
    border:1px solid rgb(80, 61, 223);
    display:block;

}

/*Display:
-none
-block
-inline
-inlie-block
*/
li{
    display:inline;
    margin-left: 30px;
}
span{
    /* error typo*/
    border:1px solid red;
    display:block;
}

/* Clase 6*/
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(140, 183, 227);
    justify-content: center;
    align-items: center;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .grilla{

    display:grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item{
    border: 1px solid red;
  }
  .item1 {
    grid-column: 1 / span 2;
  }

  .item5{
    grid-column: 3;
    grid-row: 1 / span 2;
  }